html,
body {
    font-size: 26pt;
    width: 100vw;
    height: calc(100vh - 3px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background-color: rgb(28, 32, 33);
}


.container {
    width: 100%;
    margin: 10px auto;
}

.chatbox {
    width: 100%;
}

.show_text {
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid wheat;
    width: 550px;
    height: 650px;
    max-height: calc(85vh - 74px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.left,
.right {
    border-radius: 20px;
    padding: 7px 20px 7px 20px;
    max-width: 300px;
    word-wrap: break-word;
}
.left {
    background-color: turquoise;
    color: black;
    text-align: left;
    align-self: flex-start;
    margin: 10px 5px;
}

.right {
    background-color: royalblue;
    color: white;
    align-self: flex-end;
    /* text-align: right; */
    border: 2px solid wheat;
    margin: 10px 5px;
    right: 0px;
}

.input_box {
    position: sticky;
    width: 600px;
    bottom: 0px;
    left: 0px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 10px;
    vertical-align: center;
}

.input_holder {
    display: inline-block;
}
.icon_send {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    color: chartreuse;
    /* border: 1px solid crimson; */
    background-color: yellowgreen;
    border-radius: 20px;
    padding: 10px;
}

.icon_send:hover {
    opacity: 0.5;
}

.icon_send:active {
    background-color: #4caf50;
}

.input_holder {
    width: 500px;
    margin-left: 15px;
}

.chat_text {
    width: 100%;
    font-size: 26px;
    word-wrap: break-word;
    resize: none;
    padding: 5px;
}
 
 
  
@media only screen and (max-width: 600px) {
    .input_box {
        width: 100%;
        margin: 0px 0px;
    }
    .input_holder {
        width: calc(80% - 35px);
    }
    .show_text {
        width: 90%;
        height: 80vh;
        max-height: calc(85vh - 74px);
    }
    body {
        font-size: 19px;
    }
    .icon_send a i {
        font-size: 40px;
    }
 
}
 