<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ fontawesome_html() }}
    <link rel="stylesheet" href=" {{ url_for('static', filename = 'style.css') }}">
    <title>Chatbot biết cảm thông</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename = 'img/human_chat.png') }}">
</head>

<body>
    <div class="container">
        <div class="chatbox">
            <div class="show_text">
 
            </div>
        </div>

    </div>
    <div class="input_box">
        <div class="input_holder">
            <textarea name="chat_text" rows="2" class="chat_text" onkeypress="return submit_chat(event)"></textarea>
        </div>

        <div class="icon_send" onclick="click_submit()">
            <a href="javascript:void(0)">
                <i class="fas fa-paper-plane" aria-hidden="true"></i>
            </a>
        </div>

    </div>

    <script src="{{ url_for('static', filename = 'jquery-3.5.1.min.js') }}"></script>
    <script>
        let ctx = []
        let res = []
        let emo = ["sentimental"]
        var interVal
        var nb_of_loop_interval = 0
        let show_text = document.getElementsByClassName('show_text')[0]
        let chat_text = document.getElementsByClassName("chat_text")[0]

        let n1 = "-", n2 = "-";
        function end_chat() {
            let data = { "n1": n1, "n2": n2, "emo_text": emo[emo.length - 1] }
            $.post(
                "bye_chatbot",
                data,
                function (data) { //thành công

                    //add chat lên khung
                    show_text.innerHTML += `
                        <div class="left">
                            ${data}
                        </div>
                    `
                    //Kéo scroll xuống cuối
                    $('.show_text').stop().animate({
                        scrollTop: $('.show_text')[0].scrollHeight
                    }, 800);
                }
            )
            clearInterval(interVal);
        }

        function keep_conversation() {
            nb_of_loop_interval += 1
            if (nb_of_loop_interval == 2) {
                clearInterval(interVal);
                return end_chat();
            }
            let data = { "n1": n1, "n2": n2, "emo_text": emo[emo.length - 1] }
            $.post(
                "keep_conversation_chatbot",
                data,
                function (data) { //thành công

                    //add chat lên khung
                    show_text.innerHTML += `
                        <div class="left">
                            ${data}
                        </div>
                    `
                    //Kéo scroll xuống cuối
                    $('.show_text').stop().animate({
                        scrollTop: $('.show_text')[0].scrollHeight
                    }, 800);
                }
            )

        }

        function start_chat() {
            $.post(
                "hello_chatbot",
                {},
                function (data) { //thành công
                    //add chat lên khung
                    show_text.innerHTML += `
                        <div class="left">
                            ${data}
                        </div>
                    `
                    //Kéo scroll xuống cuối
                    $('.show_text').stop().animate({
                        scrollTop: $('.show_text')[0].scrollHeight
                    }, 800);
                }
            )
        }

        start_chat()

        function send_chat() {
            let send_text = [];

            send_text = [chat_text.value.trim().replace("?", "").replace("!", "")] //turn = 1
            ctx.push(send_text[send_text.length - 1])
            let data = { "n1": n1, "n2": n2, "chat_text": send_text.join(" | ") }

            //add chat lên khung
            show_text.innerHTML += `
                        <div class="right">
                            ${ctx[ctx.length - 1]}
                        </div>
                    `

            //Kéo scroll xuống cuối
            $('.show_text').stop().animate({
                scrollTop: $('.show_text')[0].scrollHeight
            }, 800);

            //xoá chat trong khung chat
            chat_text.value = ""

            $.post(
                "chat",
                data,

                function (data) { //thành công
                    // lưu lại history

                    res.push(data.text)
                    emo.push(data.emo_text)
                    //add chat lên khung
                    show_text.innerHTML += `
                        <div class="left">
                            ${data.text}
                        </div>
                    `

                    //Kéo scroll xuống cuối
                    $('.show_text').stop().animate({
                        scrollTop: $('.show_text')[0].scrollHeight
                    }, 800);

                    if (n1 == "-") {
                        n1 = data.n1
                        n2 = data.n2
                    }
                }
            )

            clearInterval(interVal);
            interVal = setInterval(keep_conversation, 50000);
        }

        function submit_chat(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                if (chat_text.value.trim() == "")
                    return
                //Shift enter skip
                if (e.shiftKey) {
                    return
                }
                //Xử lí api
                send_chat()
            }

        }

        function click_submit() {

            if (chat_text.value.trim() == "")
                return
            //Xử lí api
            send_chat()
        }

    </script>


</body>

</html>