<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/all.css">
</head>

<body>
    <div class="container">
        <div class="chatbox">
            <div class="show_text">
            </div>
        </div>

    </div>
    <div class="input_box">
        <div class="input_holder">
            <textarea name="chat_text" rows="2" class="chat_text"></textarea>
        </div>

        <div class="icon_send">
            <a href="javascript:void(0)">
                <i class="fas fa-paper-plane" aria-hidden="true"></i>
            </a>
        </div>

    </div>
    <div class="pronoun">
        <div class="n1">
            <img src="/static/img/robot_chat.png" width="100px" height="100px" alt="">
            <input type="text" name="n1">
        </div>
        <div class="arrow">
            <span>&uarr;</span>
        </div>
        <div class="n2">
            <img src="/static/img/human_chat.png" width="100px" height="100px" alt="">
            <input type="text" name="n2">
        </div>
    </div>
    <script src="/static/jquery-3.5.1.min.js"></script>

    <script>
        let context = ["ctx 1", "ctx 3"]
        let response = ["res2", "res4"]
        let show_text = document.getElementsByClassName('show_text')[0]
        for (let i = 0; i < 10; i++)
            show_text.innerHTML +=
                `<div class="left">
                        Lúc nãy đi ngoài đường tôi làm rớt ví, may mà có cậu bé nhặt và trả lại được.
                    </div>
                    <div class="right">
                        ChàoHelloHelloHelloHelloHelloHelloHelloHeddddd
                    </div>
                    `
    </script>


</body>

</html>